* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.card {
	width: 322px;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(308deg, #c1dbe6, #d1e9f2);
	margin: 50px 0px 0px 50px;
	padding: 20px 10px 10px 10px;
	border: 1px solid #8C82A5;
	border-radius: 7px;
	box-shadow: 2px 2px 8px #bc90c3;
	position: relative;
	transition-property: box-shadow;
	transition-duration: 500ms;
}

.card:hover {
	box-shadow: 3px 3px 30px #bc90c3;
}

.card .mask{
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.card h2 {
	margin-bottom: 20px;
}

.img-cont {
	width: 300px;
	height: 200px;
	overflow: hidden;
	border:1px solid #8c82a5;
	border-radius: 5px;
}

.img-cont img {
	width: 100%;
	margin-top: -50px;
}

.info {
	border: 1px solid #8C82A5;
	margin-top: 8px;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
}

.fact {
	margin-top: 2px;
	font-style: italic;
}

.list {
	list-style: none;
}

.list span {
	font-weight: bold;	
}

.list, .description {
	margin-top: 10px;
}

.description {
	margin-bottom: 7px;
}



















